<section id="maintitle" class="grid-container full cell">

  <div id="maintitle-background" class="fadeIn" ></div>

  <div class="neon">
    <span class="neon-text" data-text="ToyHammer">ToyHammer</span>
    <span class="neon-gradient"></span>
    <span class="neon-spotlight"></span>
  </div>

  <div id="mainmenu" class="fadeIn">
    <ul class="nav menu align-center">
      <li><a href="#mainPresentation" class="is-active">Presentación</a></li>
      <li><a href="#mainContents">Contenidos</a></li>
      <li><a href="#mainEvents">Eventos</a></li>
      <li><a href="#mainContact">Contacto</a></li>
    </ul>
  </div>

</section>
